/* ----- BASICS ----- */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  text-align: center;
  background-color: #F7F7F9;
  color: #44444D;
}

a {
  text-decoration: none;
  color: #44444D;
  cursor: pointer;
}

p {
  line-height: 1.5em;
}

h2 {
  font-size: .9em;
  margin: 40px auto;
}

ul {
  padding-left: 0;
  list-style: none;
}

/* ----- HEADER ----- */

header {
  padding: 20px 20px 60px 20px;
}

.main-nav {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  padding: 20px 0 10px;
  font-size: 1.6em;
}

.nav-bar li {
  font-size: .9em;
  font-weight: bold;
  background-color: #fff;
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
}

/* ----- BANNER ----- */

.banner img {
  margin: 30px auto 20px;
  width: 75%;
  transition: .5s;
}

.banner img:hover {
  box-shadow: 0 0 50px 7px lightblue;
}

/* ----- PORTFOLIO ----- */

h3 {
  font-size: 1.15em;
}

#portfolio {
  background-color: white;
  padding-top: 15px;
}

.portfolio-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 15px;
}

.card {
  margin: 20px auto;
  transition-duration: .5s;
}

.card:hover {
  background-color: #B1CCFA;
  color: darkblue;
  padding: 15px;
  transform: scale(1.1);
}

.card img {
  width: 100%;
}

.card p {
  font-size: .95em;
}

/* ----- SKILLS ----- */

#skills {
  background-color: #fff;
  margin: 25px auto 15px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.skills li {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  background-color: lightblue;
  border-radius: 15px;
  padding: 2% 5%;
  margin: 3% 5%;
  transition: .3s;
}

.skills li:hover {
  color: darkblue;
  transform: scale(1.1);
}

/* ----- CONTACT ----- */

#contact {
  width: 80%;
  padding-bottom: 50px;
  margin: 15px auto;
}

/* ----- FOOTER ----- */

footer{
  font-size: .8em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  padding: 15px;
  border-top: 2px solid #E4E4F1;
}

  .footer-md {
    display: none;
  }

/* ----- MEDIA QUERIES ------ */

@media (min-width: 768px) {

  body {
    font-size: 18px;;
  }

/* HEADER */

  .nav-bar {
    display: flex;
    justify-content: center;
    margin: 10px auto;
  }

  .nav-bar li{
    background-color: inherit;
  }

  .nav-bar li + li {
    margin-left: 10%;
  }

/* BANNER */

  .clear:after {
    content: "";
    display: table;
    clear: both;
  }

  .banner p {
    float: left;
    width: 50%;
    margin: 30px 15px 15px 0;
    font-size: 1.1em;
    text-align: left;
  }

  .banner img {
    float: right;
    width: 40%;
  }

/* PORTFOLIO */

  .portfolio-cards {
    padding: 0;
  }

  .card {
    flex-basis: 45%;
  }

  /* CONTACT */

  #contact {
    width: 65%;
  }

  /* FOOTER */

  footer {
    margin-right: 15px;
  }

  .footer-sm {
    display: none;
  }

  .footer-md {
    display: inline;
    text-align: right;
    width: 50%;
  }

  .footer-md a {
    font-size: .8em;
    padding-left: 5%;
  }
}


@media (min-width: 1024px) {
  body {
    margin: 20px;
  }

  .banner p {
    text-align: left;
  }

  .main-nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav ul {
    margin: 0 20px 0 0;
  }

  .card {
    flex-basis: 30%;
  }

  #contact {
    width: 55%;
  }
}
